* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper, li {
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 350px;
    min-height: 300px;
    text-align: center;
}

section {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 5px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 5px;
}

.save-btn {
    width: 50%;
}

.cancel-btn {
    width: 30%;
}

h1, .emptyList {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 30px;
}

.todo-text {
    flex: 1;
}

footer, li {
    justify-content: space-between;
}

footer {
    display: flex;
    padding: 10px 0;
}

.emptyList {
    display: none;
}

ul:empty + p {
    display: block;
}

ul {
    margin: 10px 0;
    list-style: none;
}

li {
    display: flex;
    margin: 10px 0;
}

.addNewTask-btn {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}

.checkbox-done,
.checkbox-undone,
.todo-text,
.remove-btn {
    width: 35px;
    height: 35px;
    border: 0;
    background-color: unset;
}
.checkbox-done {
    background-image: url('../assets/img/done-s.png');
}

.checkbox-undone {
    background-image: url('../assets/img/todo-s.png');
}

.remove-btn {
    background-image: url('../assets/img/remove-s.jpg');
}

.marked {
    background: #808080;
}
