$fontPrimary: normal 1.8rem/2.6rem "Palatino Linotype", "Book Antiqua", Palatino,
  serif;
$bodyBgPrimary: #ebebeb;
$backgroundPrimary: url(../img/header_background_v2.jpg);
$colorHeader: #fb3f1c;
$fontColorPrimary: #808080;
$postDateColor: #c0c0c0;
$articlebg: #fff;
$fontBtn: $articlebg;
$postTitleColor: #628597;
$labelColor: $postTitleColor;
$colorBorder: #c4cfd4;
$colorBtn: #01009c;
$fontSize: 1.9rem;