$fontPrimary: normal 300 1.5rem/2.4rem Roboto, Ubuntu, Cantarell, Helvetica,
  sans-serif;
$bodyBgPrimary: #fff;
$fontColorPrimary: #000;
$backgroundPrimary: url(../img/header_background_v1.jpg);
$colorHeader: #ebeaea;
$fontBtn: $colorHeader;
$colorBorder: #628597;
$colorBtn: #18b5b2;
$postDateColor: #ff0000;
$articlebg: #ebebeb;
$postTitleColor: #118696;
$labelColor: $colorBtn;