* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font: normal 1.8rem/2.6rem "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #ebebeb;
  color: #808080;
  max-width: 100%; }

img {
  max-width: 100%;
  height: auto; }

header {
  background: url(../img/header_background_v2.jpg) no-repeat center top/cover;
  height: 100vh;
  position: relative; }
  header .top-wrapper {
    display: flex;
    justify-content: space-between; }
    header .top-wrapper .logo {
      flex: 0 0 15%;
      padding: 1rem 0 0 1rem; }
    header .top-wrapper nav {
      display: flex;
      padding: 0 1rem;
      align-items: flex-start; }
      header .top-wrapper nav a {
        position: relative;
        font-size: inherit;
        font-weight: 600;
        color: #fb3f1c;
        text-transform: uppercase;
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        transition: all 0.3s;
        padding: 1.5rem 10rem; }
        header .top-wrapper nav a:hover {
          color: #d42404; }
        header .top-wrapper nav a:hover {
          background-color: rgba(0, 0, 0, 0); }
        header .top-wrapper nav a:focus {
          outline: none; }
        header .top-wrapper nav a:not(:last-child) {
          border-right: 2px solid #c4cfd4; }
  header section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    header section h1 {
      font-size: 1.9rem;
      font-weight: 600;
      color: #fb3f1c;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
    header section .btn-top {
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      background-color: #01009c;
      transition: all 0.3s;
      padding: 0.5rem 4.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase; }
      header section .btn-top:hover {
        transform: translateY(-0.3rem); }
      header section .btn-top:active, header section .btn-top:focus {
        outline: none;
        transform: translateY(-0.1rem);
        background-color: #010083; }
      header section .btn-top:hover {
        color: #dfdfdf; }

main {
  max-width: 109rem;
  margin: 0 auto;
  padding: 0 5rem; }

.toolbar {
  display: flex;
  margin: 1.2rem 0;
  justify-content: flex-end; }
  .toolbar input {
    font: inherit;
    padding: 0.3rem 1.3rem;
    margin-right: 1rem;
    border: 1px solid #c4cfd4;
    background-color: #ebebeb; }
    .toolbar input:focus {
      outline: none; }
    .toolbar input::placeholder {
      font-size: 1.2rem;
      font-weight: 200;
      color: #808080;
      text-transform: inherit; }

.post-list {
  display: flex;
  flex-direction: column; }
  .post-list h1 {
    text-align: right;
    font-size: 2.7rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase; }

article {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  margin-bottom: 2rem; }
  article .post {
    padding: 1rem; }
    article .post .post-description {
      font-size: 1.2rem;
      font-weight: inherit;
      color: #c0c0c0;
      text-transform: inherit;
      padding: 0 0 0.8rem 0.8rem;
      border-bottom: 1.3px solid #c4cfd4; }
    article .post h3 {
      font-size: 1.9rem;
      font-weight: 600;
      color: #628597;
      text-transform: uppercase;
      text-indent: 2px;
      margin: 1rem 0; }
  article .btn {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: #01009c;
    transition: all 0.3s;
    padding: 0.8rem 6rem;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    color: #fff;
    text-transform: uppercase; }
    article .btn:hover {
      background-color: #010083; }
    article .btn:focus {
      outline: none; }
    article .btn:hover {
      color: #dfdfdf; }

.about {
  margin-top: 5rem; }
  .about h1 {
    text-align: right;
    font-size: 2.7rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase; }
  .about p {
    line-height: 2.5rem;
    margin-bottom: 2rem; }

.contact-form {
  margin-top: 5rem; }
  .contact-form h1 {
    font-size: 2.7rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
    text-align: right; }
  .contact-form h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #808080;
    text-transform: uppercase;
    text-align: right; }
  .contact-form form {
    font: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem; }
    .contact-form form input,
    .contact-form form textarea,
    .contact-form form input:focus,
    .contact-form form textarea:focus {
      border: 1px solid #c4cfd4;
      outline: none;
      background-color: #ebebeb; }
    .contact-form form label {
      text-align: right;
      font-size: inherit;
      font-weight: inherit;
      color: #628597;
      text-transform: inherit;
      margin-top: 1rem; }
    .contact-form form .top {
      display: flex;
      justify-content: space-between; }
      .contact-form form .top .input-fields {
        flex: 0 0 49.5%;
        display: flex;
        flex-direction: column; }
        .contact-form form .top .input-fields input {
          height: 4rem;
          font-size: 2rem;
          font-size: 2rem;
          font-weight: inherit;
          color: #808080;
          text-transform: inherit; }
    .contact-form form .bottom {
      display: flex;
      flex-direction: column; }
      .contact-form form .bottom textarea {
        max-height: 16rem;
        font-size: 2rem;
        font-weight: inherit;
        color: #808080;
        text-transform: inherit; }
    .contact-form form .btn {
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      background-color: #01009c;
      transition: all 0.3s;
      padding: 0.8rem 6rem;
      cursor: pointer;
      font-size: inherit;
      font-weight: inherit;
      color: #fff;
      text-transform: uppercase;
      margin-top: 2rem;
      align-self: flex-end; }
      .contact-form form .btn:hover {
        background-color: #010083; }
      .contact-form form .btn:focus {
        outline: none; }
      .contact-form form .btn:hover {
        color: #dfdfdf; }

footer {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: inherit;
  color: #808080;
  text-transform: inherit; }